* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-image: linear-gradient(90deg, #74ebd5 0%, #9face6 100%);
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hover-container {
  position: relative;
  width: 800px;
  height: 500px;
  border: 12px solid #fff;
}

.clip {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transition: all 0.5s;
}

.clip1 {
  background-image: url("assets/elephant-1822636_1280.jpg");
  background-size: cover;
  background-position: center;
  clip-path: polygon(0 0, 46% 0, 39% 100%, 0 100%);
}
.clip2 {
  background-image: url("assets/tiger-2535888_1280.jpg");
  background-size: cover;
  background-position: center;
  clip-path: polygon(19% 0, 87% 0, 64% 100%, 33% 100%);
}
.clip3 {
  background-image: url("assets/white-horse-3010129_1280.jpg");
  background-size: cover;
  background-position: center;
  clip-path: polygon(82% 0, 100% 0, 100% 100%, 63% 100%);
}

.hover-container:hover .clip {
  clip-path: polygon(100% 0%, 100% 0%, 100% 100%, 100% 100%);
}

.hover-container .clip:hover {
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
}
